.types
  justify-content: center
  align-items: center
  &__section-title
    margin-bottom: 2rem
.card
  &__text
    position: relative
    max-width: 23.6rem
    margin: 0 auto
    margin-top: -9.3rem
    padding: 1.79rem 2.14rem
    background-color: $light
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03)
  &__title
    font-family: 'Yeseva One', sans-serif
    font-size: 18px
    font-weight: normal
    color: $lighten-dark
    margin-top: 0
    margin-bottom: 0.7rem
  &__list
    padding: 0 0 0 1rem
    margin: 0
    font-size: 1.07rem
    line-height: 1.79rem  
    color: $secondary
    margin-bottom: 2.5rem
  &__pricetag
    align-items: center
    text-align: center
    position: absolute
    left: 0
    bottom: -1.79rem
    font-size: 1.29rem
    font-family: 'Yeseva One', sans-serif
    font-weight: normal
    text-transform: uppercase
    background-color: $primary
    color: $light
    padding: 0.8rem 5.7rem 1.21rem 2.35rem
  &__pricetag-types
    align-items: center
    text-align: center
    position: absolute
    left: 0
    bottom: -1.79rem
    font-size: 1.29rem
    font-family: 'Yeseva One', sans-serif
    font-weight: normal
    text-transform: uppercase
    background-color: $primary
    color: $light
    padding: 17px 18px
    height: 54px
    width: 228px
.section-title
  &__heading
    margin-top: 145px
  &__text
    color: $lighten-dark
    justify-content: center
    font-size: 18px
    font-weight: normal
    font-family: 'Futura Book',sans-serif
    line-height: 1.9rem
    margin-bottom: 2.7rem

    